<h2><%= @group.name %></h2>
<div class="chat mt-5 mx-3">
  <div id="message-index">
    <%= render 'public/messages/messages', messages: @messages %>
  </div>

  <div id="send-message" class=" pt-3">
    <% unless current_user.name == 'ゲストユーザー' %>
      <%= render 'public/messages/new', message: @message %>
    <% end %>
  </div>
</div>
