<div class="page-head">
  <h2 class="d-inline-block">グループ一覧</h2>
  <div class="float-right mr-4">
    <%= link_to new_group_path do %>
      <i class="fa-solid fa-circle-plus h2"></i>
    <% end %>
  </div>
</div>

<div class="wrap">
  <ul id="group-tab-menu">
    <li><a href="#groups" class="active">全グループ</a></li>
    <li><a href="#joined-groups" class="">参加グループ</a></li>
  </ul>

  <div id="group-tab-contents" class="">
    <div id="groups" class="tab">
      <%= render 'index', groups: @groups %>
    </div>

    <div id="joined-groups" class="tab">
      <%= render 'index', groups: @joinedgroups %>
    </div>
  </div>
</div>

<script>
  $('#group-tab-contents .tab[id != "groups"]').hide();

  $('#group-tab-menu a').on('click', function(event){
    $("#group-tab-contents .tab").hide();
    $("#group-tab-menu .active").removeClass("active");
    $(this).addClass("active");
    $($(this).attr("href")).show();
    event.preventDefault();
  });
</script>

