<h1>投稿</h1>

<%= form_with model: @post do |f| %>
  <%= render 'layouts/errors', obj: @post %>
  <div class="form-group col-8 offset-2">
    <label for="body">投稿内容</label>
    <%= f.text_area :body, class: 'form-control', :size => '10x10' %>
  </div>
  <div class="form-group col-2 offset-5">
    <%= f.submit '投稿', class: 'btn btn-outline-secondary mx-auto' %>
  </div>
<% end %>
