// Place all the styles related to the public/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.comment-form {
  display: flex;
  justify-content: space-around;
}

.form-area {
  width: 50%;
  padding-bottom: 10px;
}

.comment-index {
  border-top: 1px solid #ddd;
}

.comment {
  border:1px solid #FFBEDA;
  margin: 30px 60px;
  border-radius: 20px;
}

.comment-content {
  padding: 0 60px 0;
}
