// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.post {
  border:1px solid #FFBEDA;
  margin: 30px 60px;
  border-radius: 20px;
}

.post-content {
  padding: 0 60px 0;
}

.post-bottom {
  display: flex;
  justify-content: space-around;
}
