<h1>ようこそ！</h1>

<%= link_to "ゲストログイン(閲覧用)", users_guest_sign_in_path, class: 'btn btn-lg', method: :post %>
<%= link_to "ログイン", new_user_session_path, class: 'btn btn-lg' %>
<%= link_to "新規登録", new_user_registration_path, class: 'btn btn-lg' %>
