<h1>投稿</h1>

<div class="post">
  <div class="profile">
    <%= image_tag @post.user.get_profile_image(50,50), class: 'rounded-circle' %>
    <%= @post.user.name %>
  </div>
  <div class="post-body">
    <%= render_with_admin_tags(@post.body) %>
  </div>
</div>

<div class="comments">
  <%= render 'admin/comments/index', comments: @comments %>
</div>
