<h1>グループ一覧</h1>

<div class="groups">
  <table class="table">
    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td><%= image_tag group.get_group_image(50,50) %></td>
          <td>
            <%= link_to admin_group_path(group.id) do %>
              <%= group.name %>
            <% end %>
          </td>
        </tr>
      <% end  %>
    </tbody>
  </table>
</div>
